In [2]:
# employee data with key as id of the employee and values as age of the employee
Employee_data ={101: 43, 102: 25, 103: 43, 104: 31, 105: 26, 106: 28, 107: 29, 108: 43, 109: 25, 110: 22, 111: 22, 112: 25, 113: 30, 115: 45, 116: 23, 117: 29, 118: 28, 119: 30, 120: 28, 121: 42, 122: 39, 123: 29, 124: 42, 125: 43, 126: 42, 127: 40, 128: 27, 129: 23, 130: 30, 131: 37, 132: 20, 133: 36, 134: 27, 135: 27, 136: 22, 137: 28, 138: 23, 139: 45, 140: 39, 141: 29, 142: 33, 143: 39, 145: 34, 146: 26, 147: 30, 148: 38, 149: 29, 150: 24, 151: 28, 152: 34, 153: 42, 154: 29, 155: 23, 156: 31, 158: 25, 160: 45, 161: 42, 162: 27, 163: 24, 164: 20, 166: 24, 167: 28, 168: 20, 169: 33, 170: 34, 171: 37, 172: 45, 173: 35, 174: 23, 175: 44, 176: 27, 177: 30, 178: 26, 179: 27}

#### Identify the senior most employees age

- 45
- 44
- 48
- 42

In [3]:
# Type your code here
sorted(Employee_data.values())[-1]

45

#### Identify the age of the employee with employee id 159 [ If the employee isn't present return NA]

- 25
- 32
- NA
- 42

In [5]:
# Type your code here
if ('159' in Employee_data):
    print(Employee_data['159'])
else:
    print('NA')

NA

#### Count the total number of employee in the organization

- 79
- 78
- 60
- 74

In [6]:
# Type your code here
len(Employee_data.keys())

74

#### Calculate the mean age of the employees

- 31.36
- 36.48
- 28.77
- 32.47

In [10]:
# Type your code here
sum(Employee_data.values()) / len(Employee_data)

31.364864864864863

#### Perform the following two tasks and then calculate the updated mean age of the employees
Task1 Update the ages of employee id - 104,140, and 164 as 27 <br>
Task2 Remove the employ with employee id - 143 <br>

- 30.71
- 31.36
- 30.13
- 31.13

In [11]:
# Type your code here
Employee_data[104] = Employee_data[140] = Employee_data[164] = 27
del Employee_data[143]

sum(Employee_data.values()) / len(Employee_data)

31.136986301369863

In [12]:
list(range(0, -101, 2))

[]

In [15]:
[n ** 2 for n in range(1, 5)]

[1, 4, 9, 16]

In [19]:
{item: len(str(item)) for item in range(0, 111, 11)}

{0: 1, 11: 2, 22: 2, 33: 2, 44: 2, 55: 2, 66: 2, 77: 2, 88: 2, 99: 2, 110: 3}

In [23]:
{item: item ** 2 for item in range(2, 21, 2)}

{2: 4,
 4: 16,
 6: 36,
 8: 64,
 10: 100,
 12: 144,
 14: 196,
 16: 256,
 18: 324,
 20: 400}

In [22]:
{i : i**2 for i in range(2,21) if i % 2 ==0}

{2: 4,
 4: 16,
 6: 36,
 8: 64,
 10: 100,
 12: 144,
 14: 196,
 16: 256,
 18: 324,
 20: 400}

In [24]:
def sub(L1, L2):
    return [a - b for a, b in zip(L1, L2)]

sub([10, 20, 30], [5, 7, 35])

[5, 13, -5]

In [32]:
f = lambda x, y: x if x > y else y

print(f(100, 20))
f(15, 30)

100

30

In [33]:
list_numbers = (1,2,3,4)
sample_map = map(lambda x: x*2, list_numbers)
print(list(sample_map))

[2, 4, 6, 8]

In [41]:
input_list = ['Santa Cruz','Santa fe','Mumbai','Delhi']

list(map(lambda x : x[0]=='S',input_list))

[True, True, False, False]

In [45]:
input_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

list(filter(lambda x : x % 5 == 0, input_list))

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [47]:
input_list = ['soap','sharp','shy','silent','ship','summer','sheep']

list(filter(lambda x: x[0] == 's' and x[-1] == 'p', input_list))

['soap', 'sharp', 'ship', 'sheep']

In [52]:
from functools import reduce
input_list = ['I','Love','Python']

reduce(lambda x, y: '{0} {1}'.format(x, y), input_list)

'I Love Python'

In [56]:
from functools import reduce
input_list = [31, 63, 76, 89]

reduce(lambda x, y: max(x, y), input_list)

89

In [57]:
((500//7) % 5) ** 3

1

In [59]:
l = [32, 34, 12, 27, 33]
l.extend([14, 19])
print(len(l))

7